# Byte-compiled / optimized / DLL files
'__pycache__/'
import env
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3
*.db

# Environment variables
.env
*.env

# Unit test / coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# Distribution / packaging
*.egg-info/
dist/
build/

# System files
.DS_Store
Thumbs.db

